body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    /* background: #E6E6E6; */
    
}
*{
    box-sizing: border-box;
}
.info{
    background: url(img/back_img\ 320.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 763px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
}
.info_header_network{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.info_header_logo{
    margin: 0 auto;
    width: max-content;
    
}
.info_header_logo_img{
    width: 200px;
    height: 50px;
    border-radius: 8px;
}
.info_footer{
    width: 320px;
    height: 207px;
    background-image: url(img/back_footer.jpg);
    background-size: contain;
    background-color: #F8F200;
    background-repeat: no-repeat;
    border-top-left-radius: 84px;
    position: absolute;
    bottom: 0px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info_footer_text{
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    line-height: 30.63px;
    text-align: center;
}
.info_footer_bnt{
    background-color: black;
    width: 244px;
    height: 60px;
    gap: 10px;
    border-radius: 4px;
}

.info_footer_bnt_txt{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    color: #F8F200;
}
.description{
    /* width: 320px;
    margin: 0 auto; */
    background-color: white;
    
}
.description_block{
    padding: 10px;
}
.description_title{
    font-family: 'Unbounded', sans-serif;
    font-size: 24px;
    line-height: 35.63px;
    font-weight: 500;
}
.description_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #777777;
    margin: 0;
    max-width: 700px;
}
.description_text_cyberpunk{
   color: #52BEDC;
   font-weight: 700;
}

.description_photo_container_1{
 max-width: 700px;
 margin: 0 auto;
}
.description_photo_container_2{
  max-width: 400px;
  margin: 0 auto;
}
.description_photo_container_1_photo{
    width: 320px;
    margin-top: 40px;
}
.description_photo_container_1_1024{
    display: none;
}
.description_photo_container_2_1024{
    display: none;
}
.description_photo_container_1_1024_photo{
    min-width: 460px;
}
.description_photo_container_2_1024{
    width: max-content;
    max-width: 90%;
    margin: 0 auto;
    display: none;
}
.description_photo_container_2_1024_photo{
    /* width: 900px; */
   object-fit: cover;
  width: 100%;
  }
  .description_photo_container_1_container{
    margin: 0 auto;
    width: 320px;
  }
  .action {
    /* width: 320px;
    margin: 0 auto; */
    background-color: black;
    margin-top: 0;
    position: relative;
  }
  .action_transit{
    /* width: 320px; */
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
    margin-bottom: 0;
    display: flex;
    align-items: end;
    

  }
  .action_transit_test{
    height: 70px;
    object-fit:cover;
    object-position: center;
    margin-top: 40px;
    margin-bottom: 0;
    flex: 1 1 auto;
  }
 .action_logo{
    position: absolute;
    left: 10px;
 }
  .action_logo_1024{
    display: none;
  }
  .action_photo{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
  }
  .action_photo_container_1{
    position: relative;
    height: 130px;
    width: 40%;
    
  }
  .action_photo_container_1_Xbox_background{
    position: absolute;
    z-index: 0;
    top: 0;
  }
  .action_photo_container_1_Xbox{
    position: absolute;
    top: 6px;
    left: 45px;
    z-index: 1;
  }
  .action_photo_container_2{
    position: relative;
    height: 130px;
    width: 40%;
  }
  .action_photo_container_2_PS5_background{
    position: absolute;
    z-index: 0;
    top: 0;
  }
  .action_photo_container_2_PS5{
    position: absolute;
    top: 6px;
    left: 45px;
    z-index: 1;
  }
 .action_main_block{
  padding: 10px;
 }
  .action_main_block_info{
    color: white;
    max-width: 670px;
    margin: 0 auto;
  }
  .action_main_block_info_title{
    font-family: 'Unbounded', sans-serif;
    font-size: 30px;
    line-height: 30.63px;
  }
  .action_main_block_info_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  .action_main_block_info_text_1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #52BEDC;
  }
  .action_main_block_form{
    margin-top: 50px;
    max-width: 670px;
    margin: 0 auto;
  }
 .action_main_block_form_container{
  display: flex;
  flex-direction: column;
 }
  .action_main_block_form_name{
    width: 100%;
    height: 33px;
    border: 0;
    border-bottom: 2px solid white;
    background-color: black;
    margin: 10px 0;
    padding: 10px 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 18.75px;
    color: white;
    outline: none;
  }

  .action_main_block_form_screen{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed white;
    margin: 50px auto;
  }
  .action_main_block_form_scr{
    color: white;
    padding: 2px 0px;
    border-bottom: 1px solid white;
    line-height: 18.75px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
  .action_main_block_form_add{
    width: 182px;
    height: 60px;
    background-color: #F8F200;
  }
  .action_main_block_form_add_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    color: red;

  }
  .action_main_block_form_file{
    height: 120px;
    display: none;
  }
  .action_main_block_form_checkbox{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
  }
  .action_main_block_form_checkbox_content{
    margin: 0;
  }
  .action_main_block_form_checkbox_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.06px;
  }
  .action_dop_block{
    display: none;
  }
  .action_dop_block_container_1{
    position: relative;
    width: 500px;
    height: 400px;
    
  }
  .action_dop_block_container_xBox_background{
    position: absolute;
    top: 0;
    left: 0;
  }
  .action_dop_block_container_xBox{
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 1;
  }
  .action_dop_block_container_2{
    position: relative;
    width: 500px;
    height: 400px;
  }
  .action_dop_block_container_PS5_background{
    position: absolute;
    top: 0;
    left: 0;
  }
  .action_dop_block_container_PS5{
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 1;
  }
  
  .hp {
    /* width: 320px;
    margin: 0 auto; */
    background-color: #F8F200;
    margin-top: 0;
    position: relative;
  }
  .hp_transit{
    /* width: 320px;
    margin: 0 auto; */
    overflow: hidden;
    background-color: white;
    margin-bottom: 0;
    display: flex;
    align-items: end;
  }
  .hp_transit_test{
    height: 70px;
    object-fit:cover;
    object-position: center;
    margin-bottom: 0;
    flex: 1 1 auto;
  }
  .hp_main_photo_screen{
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  .hp_main_photo_icons{
      margin-top: 40px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    
  }
.hp_main_photo_screen_1024{
  display: none;
}
.hp_main_photo_screen_1800{
 display: none;
}
.hp_main_photo_icons_1024{
  display: none
}
.hp_main_container{
  padding: 10px;
  max-width: 620px;
  margin: 0 auto;
}
.hp_main_container_title{
  font-family: 'Unbounded', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.63px;
}
.hp_main_container_text{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.hp_main_container_info{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 40px 0;
}
.hp_main_container_info_content{
  display: flex;
  align-items: center;
  gap: 10px;
}
.hp_main_container_info_content_text{
  font-family: 'Roboro', sans-serif;
  font-size: 16px;
  line-height: 18.75px;
}
.hp_main_container_button{
  width: max-content;
  margin-bottom: 50px;
}
.hp_main_container_button_bnt{
  width: 184px;
  height: 60px;
  background-color: black;
  cursor: pointer;
}
.hp_main_container_button_bnt_txt{
  color: #F8F200;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.75px;
  font-family: 'Roboto';
}
.shop{
  background-color: black;
  /* width: 320px;
  margin: 0 auto; */
}
.shop_container1{
  width:320px;
  height: 200px;
  background: url(img/cyber_disk.jpg) no-repeat;
}
.shop_container2{
  width: 320px;
  padding: 10px;
  margin: 0 auto;
}
.shop_container2_title{
  color: #FFFFFF;
  font-family:'Unbounded', sans-serif;
  font-size: 24px;
  line-height: 30.64px;
}
.shop_container2_info{
  padding: 0;
}
.shop_container2_any_title{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #52BEDC;
  font-size: 20px;
  line-height: 23.44px;
}
.shop_container2_info_list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.shop_container2_info_list_content{
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: start;
  margin: 10px 0;
}
.shop_container2_info_list_content_svg320{
  min-width: 24px;
}

.shop_container2_info_list_content_txt{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18.75px;
  color: #FFF;
}
.shop_container2_info_list_content_svg1024{
  display: none;
}
.shop_container2_platform_container{
  display: grid;
  grid-template-columns: 100px 178px;
  grid-template-rows: 63px 63px;
  justify-content: start;
  align-items: end;
  margin-bottom: 50px;
  gap: 10px 30px;
}
.footer{
  /* width: 320px;
  margin: 0 auto; */
  background-color: #FFF;
}
.footer_container1_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_container1_logo_1{
  margin: 20px 0px;
}
.footer_container1_logo_2{
  margin: 20px 0;
}
.footer_container1_info{
  background-color: #E6E6E6;
  padding: 15px 0;
}
.footer_container1_info a{
text-decoration: none;
}
.footer_container1_info_txt{
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
}

.footer_container1_logo_1024{
  display: none;
}
.footer_container2{
  background-color: #000000;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_container2_txt{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 14.06px;
  color: #FFF;
}